<h2>View Book</h2>
<mat-card>
  <mat-card-content>
    <div class="field">
      <span class="label">Book Code:</span>
      <span>{{ book.bookCode }}</span>
    </div>
    
    <div class="field">
      <span class="label">Book ID:</span>
      <span>{{ book.bookId }}</span>
    </div>
    
    <div class="field">
      <span class="label">Title:</span>
      <span>{{ book.title }}</span>
    </div>
    
    <div class="field">
      <span class="label">Size:</span>
      <span>{{ book.size }}</span>
    </div>
    
    <div class="field">
      <span class="label">Author:</span>
      <span>{{ book.author }}</span>
    </div>
    
    <div class="field">
      <span class="label">Color:</span>
      <span>{{ book.color }}</span>
    </div>
    
    <div class="field">
      <span class="label">Dated:</span>
      <span>{{ book.dated }}</span>
    </div>
    
    <div class="field">
      <span class="label">ISBNo:</span>
      <span>{{ book.isbNo }}</span>
    </div>
    
    <div class="field">
      <span class="label">User ID:</span>
      <span>{{ book.userId }}</span>
    </div>
    
    <div class="field">
      <span class="label">LMD:</span>
      <span>{{ book.lmd }}</span>
    </div>
    
    <div class="field">
      <span class="label">LMU:</span>
      <span>{{ book.lmu }}</span>
    </div>
    
    <div class="field">
      <span class="label">Status:</span>
      <span>{{ book.status }}</span>
    </div>
    
    <div class="field">
      <span class="label">Purchase ID:</span>
      <span>{{ book.purchaseId }}</span>
    </div>
    
    <div class="field">
      <span class="label">Sales Order ID:</span>
      <span>{{ book.salesOrderId }}</span>
    </div>
    
    <div class="field">
      <span class="label">Sold Status:</span>
      <span>{{ book.soldStatus }}</span>
    </div>
    
    <div class="field">
      <span class="label">Barcode:</span>
      <span>{{ book.barcode }}</span>
    </div>
  </mat-card-content>
</mat-card>
