 
       /*  .container {
          
            background-color:green;
            padding-top:20px;
            padding-left:15px;
            padding-right:15px;
            scroll-behavior: auto;
            height: auto;
            
        }
        #st-box {
            float:left;
            width:20%;
            height:auto;
            background-color:white;
            border:solid black;
            scroll-behavior: auto;
        }
        #nd-box {
            float:left;
            width: 80%;
            height:90%;
            background-color:white;
            border:solid black;
            margin-left:5px;
            scroll-behavior: auto;
        }
        #rd-box {
            float:right;
            width:10%;
            height:90%;
            background-color:white;
            border:solid black;
            scroll-behavior: auto;
        }
        h1 {
            color:Green;
        }
    
        
 */